In [1]:
import pandas as pd

In [2]:
salaryDf = pd.read_csv('../data/processed/salary.csv')

In [4]:
jobDf = pd.read_csv('../data/processed/occupations.csv',sep = '\t')

In [5]:
salaryDf.head()

   Unnamed: 0                            OCC_TITLE OCC_CODE  A_MEAN
0           4                     Chief Executives  11-1011  213020
1           6      General and Operations Managers  11-1021  115250
2           8                          Legislators  11-1031   57110
3          11  Advertising and Promotions Managers  11-2011  142860
4          13                   Marketing Managers  11-2021  153440

In [6]:
salaryDf.set_index('OCC_CODE',inplace=True)

In [7]:
jobDf.head()

,O*NET-SOC Code,Title,Description
0,11-1011.00,Chief Executives,Determine and formulate policies and provide o...
1,11-1011.03,Chief Sustainability Officers,"Communicate and coordinate with management, sh..."
2,11-1021.00,General and Operations Managers,"Plan, direct, or coordinate the operations of ..."
3,11-1031.00,Legislators,"Develop, introduce, or enact laws and statutes..."
4,11-2011.00,Advertising and Promotions Managers,"Plan, direct, or coordinate advertising polici..."

In [9]:
jobDf.set_index(jobDf['O*NET-SOC Code'].apply(lambda x:x[0:-3]),inplace=True)

In [11]:
combinedDf = jobDf.join(salaryDf)

In [13]:
del combinedDf['Unnamed: 0']

In [15]:
del combinedDf['OCC_TITLE']

In [16]:
combinedDf.head()

,O*NET-SOC Code,Title,Description,A_MEAN
11-1011,11-1011.00,Chief Executives,Determine and formulate policies and provide o...,213020
11-1011,11-1011.03,Chief Sustainability Officers,"Communicate and coordinate with management, sh...",213020
11-1021,11-1021.00,General and Operations Managers,"Plan, direct, or coordinate the operations of ...",115250
11-1031,11-1031.00,Legislators,"Develop, introduce, or enact laws and statutes...",57110
11-2011,11-2011.00,Advertising and Promotions Managers,"Plan, direct, or coordinate advertising polici...",142860

In [21]:
combinedDf['A_MEAN'].isna().sum()

54

In [22]:
combinedDf.dropna(inplace=True)

In [26]:
(combinedDf['A_MEAN'] == '*').sum()

6

In [28]:
combinedDf = combinedDf[~(combinedDf['A_MEAN'] == '*')]

In [29]:
combinedDf.to_csv('../data/processed/combined.csv')